# DEV
/venv/
/.env
**/__pycache__/**
**/migrations/**
db.sqlite3
**/*.log
/manual_tests/
api_cache/**
/mainpage/migrations/
.vscode
poetry.lock
static/*

# ZOHO CONTENT
media/*
!media/seoblock/
resources/*
